.jarallax > .jarallax-img {
    position: absolute;
    object-fit: cover;
    /* support for plugin https://github.com/bfred-it/object-fit-images */
    font-family: 'object-fit: auto;';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/*FirstSection CSS*/

.hello {
  font-size: 120px;
  font-family: 'Playfair Display', serif;
  color: #00754B;
  margin-left: 15vw;
  position: relative;
  animation-name: helloanim;
  animation-duration: 4s;
}

@keyframes helloanim {
  0%   { left:-700px; top:0px;}
  100%  { left: 0px; top:0px;}
}

.name{
  color: #323232;
  font-size: 60px;
  font-family: 'Abril Fatface', cursive;
  margin-left: 15vw;
  position: relative;
  animation-name: nameanim;
  animation-duration: 4s;
}

@keyframes nameanim {
  0%   { left: 0px; top:500px;}
  100%  { left: 0px; top:0px;}
}

.jarallax-img{
  animation-name: fadeIn;
  animation-duration: 4s;
}

@keyframes fadeIn {
 0% {opacity: 0;}
 100% {opacity: 1;}
}



/*SecondSection CSS*/

.back{
  background-color: #272727;
}

.about-me{
  box-shadow: 0px 0px 40px 10px #272727;
  border-radius: 40px;
  padding: 40px;
  color: #FAF8FF;
  font-size: 20px;
  width: 70vw;
  margin-left: 15vw;
}

p:first-child{
  font-family: 'Abril Fatface', cursive;

}

.intro{
  margin-top: 10vh;
  font-size:22px;
  color:white;
  font-family: 'Baloo 2', cursive;
}


/*Thirdection CSS*/

.project-heading{
  font-family: 'Playfair Display', serif;
  font-size: 100px;
  text-align: center;
}

.project-grid{
  margin: 0 10vw;
  margin-top: 10vw;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 30px 0px;
}

.project-box{
  background-color: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  font-size: 25px;
  font-family: 'Baloo 2', cursive;
  color: black;
  border-radius: 50px;
  text-align: center;
  padding: 20px 10px 20px 10px;
  width: 15vw;
}

.hover{
  background-image: ""!important;
  background-color: #DED417!important;
  border: 1px solid black
  color: black!important;
  box-shadow: 0px 0px 50px 5px black!important;
}

a, a:hover, a:visited{
  color: black;
  text-decoration: none;
}

.fadeIn{
  animation-name: fadeIn;
  animation-duration: 4s;
}

@keyframes fadeIn {
 0% {opacity: 0;}
 100% {opacity: 1;}
}


/*FOURTHSECTION CSS*/

.edu{
  font-size: 100px;
  color: white;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: white;
}

.swipe{
  margin-top: 10vh;
  margin-left: 40vw;
  width: 20vw;
  font-size: 50px;
  text-align: center;
  color: white;
}

.edu-head{
  display: grid;
  justify-content: center;
  grid-gap: 5vw 5vw;
  grid-template-columns: auto auto auto;
}

.edu-box{
  text-align: center;
   background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(255,0,255,0.2));
  border-radius: 30px;
  width: 25vw;
  height: 60vh;
  box-shadow: 0px 0px 40px 5px white;
}

.edu-box:hover{
  background-color: black;
}

.education-head{
  font-family: 'Playfair Display', serif;
  position: relative;
  top: 8vw;
  font-size: 60px;
  color: white;
  text-decoration: underline;
}

.institution{
  position: relative;
  top: 9vw;
  font-size: 30px;
  font-family: 'Baloo 2', cursive;
  color: white;
}

.location{
  position: relative;
  top: 10vw;
  font-size: 30px;
  font-family: 'Baloo 2', cursive;
  color: white;
}


/*Fifthsection CSS*/

.skills{
  font-family: 'Playfair Display', serif;
  border-radius: 50px;
  text-align: center;
  font-size:120px;
  text-align: center;
  text-decoration: underline;
  color: white;
}

.Content{
  margin-top: 8vw;
  margin-left: 25vw;
  width: 50vw;
}

.w3-container{
  font-family: 'Baloo 2', cursive;
  margin: 25px 0px;
  font-size: 22px;
  box-shadow: 0px 0px 10px 5px Black;
}

.right{
  position: relative!important;
  animation-name: rightanim;
  animation-duration: 4s;
}

@keyframes rightanim {
  0%   { left:-700px; top:0px;}
  100%  { left: 0px; top:0px;}
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.left{
  position: relative!important;
  animation-name: leftanim;
  animation-duration: 4s;
}

@keyframes leftanim {
  0%   { right:-700px; top:0px;}
  100%  { right: 0px; top:0px;}
  0% {opacity: 0;}
  100% {opacity: 1;}
}


/* SIXTH */

.trans{
  height: 600px;
  background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(89,86,80,0.6));
}

.trans:hover{
  background-image: linear-gradient(to right, rgba(0,0,0,0.8), rgba(0 ,0,0,0.8));
}

input[type=text], textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

textarea:focus{
  background-color: black;
  color: white;
}

input[type=text]:focus{
  background-color: black;
  color: white;
}

input[type=email]{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

input[type=email]:focus{
    background-color: black;
    color: white;
}

label {
  padding: 12px 12px 12px 12px;
  display: inline-block;
  font-family: 'Baloo 2', cursive;
  font-size: 25px;
  color: white;
  background-image: linear-gradient(to right, rgba(0,0,0,0.2), rgba(0 ,0,0,0.2));
  border-radius: 10px;
  box-shadow: 0px 0px 10px 2px white;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 48%;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 70%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
